body{
    display: flex;
    flex-direction: column;
    
}


.header{
    display: flex;
    align-items: center;
    background: #1f2937;
    color:white;


}
.links{
    list-style-type: none;
}

.a, .h2{
font: size 48px;
color:#F9FAF8;
background: #1f2937;

}

.p{
    font-size: 18px;
    color: #e5e7eb;
}

.information{
    display:flex;
    text-align: center;
    color:#1f2937;
    max-width:200px;
}

img{
    width: 200px;
    height: 200px;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.section2{
    display: flex;
    justify-content:center;
    gap:50px;
    background:#F9FAF8
}

.text{
    display:block;
    max-width: 200px;
   
}

.c{
display:flex;
font-weight: lighter;
color: #1f2937;
background: #e5e7eb;

}

.d{
    display: flex;

}

.button{
    display: flex;
    background-color: #3882f6;
    color:#F9FAF8;
}

.footer{
    display: flex;
    text-align: center;
}